.landingpage{
    background-image: url("./delanipics/backgrounds/top.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;


}

.landingpage .name{
    color: white; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.services{
    background-image: url("./delanipics/backgrounds/port.jpg");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.service-content{
    color: white;
}

.contactus{
    color: white;
    background-image: url("./delanipics/assets/backgrounds/c_image.jpg");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

/* contact us begins */
#form input{
    background-color: transparent;
    color:white;
    width:20%;
    }
    ::placeholder{
        color: white;
        padding: 10px;
    }
    #form input[type=button]{
        background-color:grey;
        margin-bottom: 10px;
    }
    
    textarea{
        background-color: transparent;
        color:white;
        margin-top:30px;
        margin-bottom: 10px;
        width: 40%;
        height: 20%;
        }
#studio{
    margin-top: 5px;
    font-size:16px;
    font-weight: 600;

}
.mouse{
    margin-top:50%;

}
#copyright{
    font-size: 24px;
}
.design{
    display: none;
}
#develop{
    display: none;
}
#product{
    display: none;
}

.txt1 ,.txt2 ,.txt3 ,.txt4 ,.txt5 ,.txt6 ,.txt7 ,.txt8{
    display: none;
}